<% if @columns.length >= 3 %>
  <figure class="highcharts-figure">
      <div id="hccontainer"></div>
      <p class="highcharts-description">
      </p>
  </figure>
  
  <script>
    Highcharts.chart('hccontainer', {
      title: {
        text: 'Combination chart'
      },
      xAxis: {
        categories: <%= @query.hc_x_axis(@rows) %>
      },
      labels: {
        items: [{
          html: 'Combination chart',
          style: {
            left: '50px',
            top: '18px',
            color: ( // theme
              Highcharts.defaultOptions.title.style &&
              Highcharts.defaultOptions.title.style.color
            ) || 'black'
          }
        }]
      },
      
      series: <%= @query.hc_y_axis_data(@rows, @columns) %>
    });
  </script>
<% else %>
  <p>No data to display.</p>
  <% p 'no data to display' %>
<% end %>

<!-- Test code for verfying output -->
<% if @columns.length >= 3 %>
  xAxis: {
        categories: <%= @query.hc_x_axis(@rows) %>
      },
  <br />
  series: <%= @query.hc_y_axis_data(@rows, @columns) %>
<% else %>
    <p>No data to display.</p>
    <% p 'no data to display' %>  
<% end %>
====================================
<br />
<%= @query.hc_x_axis(@rows) %>
<br />
<%= @query.hc_y_axis_data_m(@rows, @columns) %>
<br />
<%= @query.hc_y_axis(@columns) %>
<br />
<br />
<br />
<%= @columns %>
<%= @rows %>