<br />
<br />
<br />
<%= @columns %>
<br />
<%= @rows %>
<br />
<br />
<br />
<%#= @query.hcbc_data(@rows, @columns) %>
<br />
<br />
<br />
<%#= @query.hcbc_x_axis(@query.hcbp_raw_arrays(@rows, @columns)) %>
<br />
<br />
<br />
<%#= @query.hcbc_y_axis(@query.hcbp_raw_arrays(@rows, @columns)) %>
<br />
<br />
<br />
<%#= @query.hcbp_raw_arrays(@rows, @columns) %>
<br />
<br />
<br />
<% p "================================================== main app" %>
<%= puts @query.inspect %>
<% p "================================================== view page" %>
<br />
<br />
<br />
<%= @query.lbh_raw_data(@rows, @columns) %>
<br />
<br />
<br />
<%= @query.lbh_data(@rows, @columns) %>
<br />
<br />
<br />
x axis: <%= @query.lbh_x_axis(@rows) %>
<br />
<br />
<br />
y axis: <%= @query.lbh_y_axis(@rows) %>
<br />
https://jsfiddle.net/nzwpm63c/4/
<br />
<br />
<br />
<% test = [[91, "Novelty Measure", 2.25, 45.0, "column_0"], [91, "Novelty Measure", 3.5, 70.0, "column_1"], [612, "Action / Focused", 2.75, 55.00000000000001, "column_0"], [612, "Action / Focused", 2.25, 45.0, "column_1"]] %>
<%#= @query.email_list(@rows) %>
<%= @query.heatmap_data(@rows)  %>
<br />
<br />
<br />
<%#= @query.api_raw_response(@query.api_call(@query.api_endpoint, @rows, @columns)) %>
<br />
<br />
<br />
<%# if @query.api_image(@query.api_call(@query.api_endpoint, @rows, @columns)) != false %>
    <#img src=<%#= @query.api_image(@query.api_call(@query.api_endpoint, @rows, @columns)) %> class="img-fluid" alt="Responsive image">
<%# end %>

<%#= @query.description %>
<%#= @query.api_endpoint %>
<%#= @query.api_auth_key.empty? %>
<% p "================================================== api response" %>

<table class="table results-table">
    <thead>
        <tr>
        <% @columns.each_with_index do |key, i| %>
            <% type = @column_types[i] %>
            <th data-sort="<%= type %>">
            <div>
                <%# p key %> 
                <%= key %>
            </div>
            </th>
        <% end %>
        </tr>
    </thead>
    <tbody>
        <% @rows.each do |row| %>
        <tr>
            <% row.each_with_index do |v, i| %>
            <% k = @columns[i] %>
            <td>
                <% unless v.nil? %>
                    <% if v.is_a?(String) && v == "" %>
                        <div class="text-muted">empty string</div>
                    <% else %>
                        <%= v %>
                    <% end %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>